@import '../../styles/variables';

.search-bar {
    width: 100%;
    position: relative;
  }
  
  .search-bar form {
    display: flex;
    width: 100%;
  }
  
  .search-bar input {
    width: 100%;
    padding: 0.5rem 0.5rem 0.5rem 2rem;
    border: 2px solid $background-dark;
    border-radius: 0.25rem;
    background-color: $background-dark;
    color: $text-primary;
  }
  
  .search-bar input:focus {
    border-color: $primary-color;
    outline: none;
  }
  
  .search-icon {
    position: absolute;
    left: 0.5rem;
    top: 50%;
    transform: translateY(-50%);
    color: $text-primary;
    width: 1rem;
    height: 1rem;
  }
  
  .search-bar button {
    padding: 10px 15px;
    border: 2px solid $background-dark;
    border-left: none;
    border-radius: 0 20px 20px 0;
    background-color: $primary-color;
    color: $background-dark;
    cursor: pointer;
    height: 44px;
    white-space: nowrap; 
  }
  
  .search-results {
    list-style-type: none;
    padding: 0;
    margin-top: 10px;
    background-color: $background-medium;
    border-radius: 4px;
  }
  
  .search-results li {
    padding: 10px;
    border-bottom: 1px solid $background-dark;
  }
  
  .search-results li:last-child {
    border-bottom: none;
  }
  